{% extends 'templates/base.twig' %}

{% block container %}
    {% if rooms is not empty %}
    <div>
        <ul id="list-chatroom">
            {% for r in rooms %}
                <li>
                    <a href="{{ path_for('chat', { 'room_id': r.id  }) }}">{{ r.name }}</a>
                    <div class="divider"></div>
                    <p>Users: {% for user in r.users %}<span class="askdjfhals">{{ user }}</span>, {% endfor %}</p>
                </li>
            {% endfor %}
            <h5 class="center"><a href="#createNewChatRoom" class=" modal-trigger">Click here to make a new chat room</a></h5>
            <div id="createNewChatRoom" class="modal">
                <div class="modal-content">
                    <h4 class="center-align">Room Name</h4>
                    <div id="container-room_name" class="input-field row">
                        <input required onkeypress="LimitChars(event);" class="has-character-counter" type="text" id="chat_room_name" data-length="32">
                        <label for="chat_room_name">Chatroom Name</label>
                    </div>
                    <div id="container-select_friends">
                        <h4 class="center-align">Select Friends to Chat With</h4>
                        <ul id="list-chat_friends">
                        </ul>
                        <input type="hidden" class="addFriend hidden" data-userId="{{ accountId }}">
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="divider"></div>
                    <button onclick="CreateChatRoom();" class="btn blue left waves-effect waves-light">Create Chatroom</button>
                    <button onclick="ClearCreateChatRoomForm()" class="btn modal-close blue left waves-effect waves-light">Cancel</button>
                    <div class="clearfix"></div>
                </div>
            </div>
        </ul>
    </div>
    {% else %}
        <h2 class="center">No chat rooms found</h2>
        <h5 class="center"><a href="#createNewChatRoom" class=" modal-trigger">Click here to make a new chat room</a></h5>
        <div id="createNewChatRoom" class="modal">
            <div class="modal-content">
                <h4 class="center-align">Room Name</h4>
                <div id="container-room_name" class="input-field row">
                    <input required onkeypress="LimitChars(event);" class="has-character-counter" type="text" id="chat_room_name" data-length="32">
                    <label for="chat_room_name">Chatroom Name</label>
                </div>
                <div id="container-select_friends">
                    <h4 class="center-align">Select Friends to Chat With</h4>
                    <ul id="list-chat_friends">
                    </ul>
                    <input type="hidden" class="addFriend hidden" data-userId="{{ accountId }}">
                </div>
            </div>
            <div class="modal-footer">
                <div class="divider"></div>
                <button onclick="CreateChatRoom();" class="btn blue left waves-effect waves-light">Create Chatroom</button>
                <button onclick="ClearCreateChatRoomForm()" class="btn modal-close blue left waves-effect waves-light">Cancel</button>
                <div class="clearfix"></div>
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block script %}
    <script>
        async function afasdfa() {
            const elements = document.querySelectorAll(".askdjfhals");
            for (let el of elements) {
                let id = el.innerHTML;
                el.innerHTML = await ReturnUserName(id);
            }
        }
        afasdfa();
        M.CharacterCounter.init(document.querySelectorAll('.has-character-counter'));
        RetrieveAllFriends();
        SetActive('header-chat');
    </script>
{% endblock %}